@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,500;1,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap');
 /* @import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,900&display=swap'); */
 @import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&family=Rosario:ital,wght@0,300;1,500&display=swap');
 /* @import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap'); */
 @import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=PT+Sans+Caption&display=swap');



.contactus-section1 {
    /* padding: 50px 0; */
  }
 
  .contact-leftside1 {
    position: relative;
    height: 89vh; /* Set the height of the left side to full viewport height */
    display: flex;
    /* align-items: center; Vertically center the content */
    /* justify-content: center; Horizontally center the content */
    background-image: url('https://res.cloudinary.com/dofftzsmf/image/upload/v1689516021/Untitled_design_mnezki.svg');
    background-size: cover;
    /* margin-right:1px ; */
    background-position: center;
  }
  
  .contact-rightside1 {
    background-color:#fff !important;
    /* padding: 30px; */
  }
  
  .contact-heading1 {
    font-size: 36px;
    font-weight: bold;
    font-family: 'Inter', sans-serif;
    /* font-weight: 800; */
    font-size: 3.2rem;  
    margin-top: 50px;
    text-align: center;
    color:rgb(255, 2, 2);
  }
  
  .contact-input-feild1 {
    margin-bottom: 20px;
  }
  
  .contact-input1 {
    width: 100%;
    /* padding: 10px; */
  }
  
  .contact-textarea1 {
    width: 100%;
    /* padding: 10px; */
    resize: vertical;
  }
  
  .btn-style1 {
    background-color: #007bff;
    color: #ffffff;
    /* padding: 10px 20px; */
    border: none;

    cursor: pointer;
  }
  
  .btn-style1:hover {
    background-color: #0056b3;
  }
  