@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,500;1,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap');
 /* @import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,900&display=swap'); */
 @import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&family=Rosario:ital,wght@0,300;1,500&display=swap');
 /* @import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap'); */
 @import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=PT+Sans+Caption&display=swap');

.contactus-section {
    /* padding: 1px 0; */
  }
 
  .contact-leftside {
    position: relative;
    height: 89vh; /* Set the height of the left side to full viewport height */
    display: flex;
    /* align-items: center; Vertically center the content */
    /* justify-content: center; Horizontally center the content */
    background-image: url('https://res.cloudinary.com/dofftzsmf/image/upload/v1689523851/laptop_image_fazyfu.svg');
    background-size: cover;
    /* margin-right:1px ; */
    background-position: center;
  }
  
  .contact-rightside {
    background-color:#fff !important;
    /* padding: 30px; */
  }
  
  .contact-heading {
    font-size: 46px;
    font-weight: bold;
    margin-top: 50px;
    text-align: center;
    color:#2591e9;
  }
  
  .contact-input-feild {
    margin-bottom: 20px;
  }
  
  .contact-input {
    width: 100%;
    /* padding: 10px; */
  }
  
  .contact-textarea {
    width: 100%;
    /* padding: 10px; */
    resize: vertical;
  }
  
  .btn-style {
    background-color: #007bff;
    color: #ffffff;
    /* padding: 10px 20px; */
    border: none;

    cursor: pointer;
  }
  
  .btn-style:hover {
    background-color: #0056b3;
  }
  